body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
*{
  box-sizing: border-box;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: #fff;
  padding: 40px;
  margin: auto;
  width: 800px;
  max-height: 80vh;
  overflow-y: scroll;
}
h2{
  background-color: brown;
  padding: 20px;
  color: #FFF;
}
input{
  background-color: #ddd;
  border: none;
  width: 80%;
  height: 32px;
  padding: 0 10px;
}
button {
  border: none;
  padding: 8px;
  text-align: center;
  width: 20%;
  background-color: #0B0;
}
ul{
  list-style: none;
}
li{
  margin-bottom: 10px;
}
li button{
  width: 20%;
}
li button:first-of-type {
  width: calc(20% - 10px);
  margin-right: 10px;
  background-color: grey;
  color: #FFF;
}
li button:last-of-type {
  background-color: brown;
  color: #FFF;
}
li span{
  color: #888;
  width: 60%;
  display: inline-block;
}
.editCourse{
  margin-bottom: 10px;
}
.noItem{
  text-align: center;
  margin-top: 40px;
}

.notif{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  padding: 30px 0;
  text-align: center;
  color: #FFF;
  background-color: #0c0;
  animation: fired 1s ease-in-out 1 ;

}

@keyframes fired {
  0%{
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }100%{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}